@import './_baseVariables.scss';

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autcomplete-xyz {
    position: relative;
    width: 300px;
}

.autcomplete1-xyz {
    position: relative;
    // width: 300px;
}

.autcomplete_items-xyz {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 300px;

    background: white;
}

.autcomplete_items1-xyz {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 100px;

    background: white;
}

.autcomplete_div-xyz {
    border: 1px solid black;
}


.flex-container-autcomplete-xyz {
    display: flex;
    margin-top: 100px;
    flex: 1;
}

.input1-xyz {
    position: relative;
    >div{
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            width: 300px;
    }
}


.input2-xyz {
    margin-left: 5px;
}

.button1-xyz {
    cursor: pointer;
    // width: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    margin-left: 5px;
    float:left;
}


.auto1-xyz{
    float: left;
    margin-right: 3px;
    margin-left: 30%;
    position: relative;
    // margin: 0 auto;
}

.auto2-xyz{
    float: left;
    position: relative;
    
}

.clearFix-xyz{
    clear: both;
}

.autocomplete-items-div-xyz {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: left;
    &:hover{
        background-color: #e9e9e9;
    }

}
.autocomplete-active-xyz {
    background-color: DodgerBlue !important;
    color: #ffffff;
}



 .autocomplete-full-div-xyz {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
 }